Description: Fix webob version in requirements.txt
Author: Thomas Goirand <zigo@debian.org>
Forwarded: no
Last-Update: 2014-01-26

--- nova-2014.1~b2.orig/requirements.txt
+++ nova-2014.1~b2/requirements.txt
@@ -9,7 +9,7 @@ Jinja2
 kombu>=2.4.8
 lxml>=2.3
 Routes>=1.12.3
-WebOb>=1.2.3,<1.3
+WebOb>=1.2.3
 greenlet>=0.3.2
 PasteDeploy>=1.5.0
 Paste
