Source: nova
Section: net
Priority: extra
Maintainer: PKG OpenStack <openstack-devel@lists.alioth.debian.org>
Uploaders: Julien Danjou <acid@debian.org>,
           Thomas Goirand <zigo@debian.org>,
           Mehdi Abaakouk <sileht@sileht.net>
Build-Depends: debhelper (>= 9),
               openstack-pkg-tools (>= 8~),
               po-debconf,
               python-all (>= 2.6.6-3~),
               python-pbr (>= 0.5.21),
               python-d2to1 (>= 0.2.10),
               python-setuptools
Build-Depends-Indep: bpython,
                     euca2ools,
                     ipython,
                     libvirt-bin,
                     openssh-client,
                     pep8 (>= 1.3.3),
                     procps,
                     pyflakes,
                     pylint,
                     python-amqplib,
                     python-anyjson (>= 0.3.3),
                     python-babel,
                     python-boto (>= 2.4.0),
                     python-carrot,
                     python-cheetah,
                     python-cinderclient (>= 1:1.0.5),
                     python-cliff (>= 1.4),
                     python-coverage,
                     python-d2to1 (>= 0.2.10),
                     python-distutils-extra,
                     python-eventlet (>= 0.13.0),
                     python-feedparser,
                     python-fixtures (>= 0.3.14),
                     python-gflags,
                     python-glanceclient (>= 1:0.10.0),
                     python-greenlet (>= 0.3.2),
                     python-iso8601,
                     python-jinja2,
                     python-jsonschema (>= 1.3.0),
                     python-keystoneclient (>= 1:0.3.2),
                     python-kombu (>= 2.5.12),
                     python-ldap,
                     python-lockfile,
                     python-lxml,
                     python-m2crypto,
                     python-markdown,
                     python-memcache,
                     python-migrate,
                     python-mock (>= 1.0),
                     python-mox,
                     python-mysqldb,
                     python-netaddr,
                     python-neutronclient (>= 2.3.0),
                     python-nose,
                     python-novaclient (>= 1:2.9.0),
                     python-oslo.config (>= 1.2.1),
                     python-oslo.sphinx,
                     python-paramiko (>= 1.8.0),
                     python-paste,
                     python-pastedeploy,
                     python-psycopg2,
                     python-pyasn1,
                     python-pyparsing (>= 1.5.7),
                     python-qpid,
                     python-requests (>= 1.1),
                     python-routes,
                     python-setuptools-git,
                     python-simplejson,
                     python-six,
                     python-sphinx (>> 1.0),
                     python-sqlalchemy-ext ( >= 0.7.8-1~) | python-sqlalchemy (<< 0.6.3-2),
                     python-stevedore (>= 0.10),
                     python-subunit,
                     python-suds (>= 0.4.0),
                     python-tempita,
                     python-testrepository (>= 0.0.14),
                     python-testtools (>= 0.9.32),
                     python-tox,
                     python-unittest2,
                     python-webob (>= 1.2.3),
                     python-xattr,
                     python-zmq,
                     subunit,
                     sqlite3,
                     testrepository (>= 0.0.17),
                     websockify (>= 0.5.1)
#                     python-xenapi,
Build-Conflicts: python-cjson
Standards-Version: 3.9.4
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=openstack/nova.git;a=summary
Vcs-Git: git://anonscm.debian.org/openstack/nova.git
Homepage: http://www.openstack.org/software/openstack-compute/

Package: python-nova
Architecture: all
Section: python
Pre-Depends: dpkg (>= 1.15.6~)
Depends: openssh-client,
         openssl,
         python-amqplib,
         python-anyjson (>= 0.3.3),
         python-argparse,
         python-babel,
         python-boto (>= 2.4.0),
         python-carrot,
         python-cheetah,
         python-cinderclient (>= 1:1.0.5),
         python-cliff (>= 1.4),
         python-d2to1,
         python-daemon,
         python-eventlet (>= 0.13.0),
         python-feedparser,
         python-gflags,
         python-glanceclient (>= 1:0.10.0),
         python-greenlet (>= 0.3.2),
         python-iso8601,
         python-jinja2,
         python-jsonschema (>= 1.3.0),
         python-keystoneclient (>= 1:0.3.2),
         python-kombu (>= 2.5.12),
         python-ldap,
         python-libxml2,
         python-lockfile,
         python-lxml,
         python-m2crypto,
         python-markdown,
         python-memcache,
         python-migrate,
         python-netaddr,
         python-neutronclient (>= 2.2.0),
         python-novaclient (>= 1:2.9.0),
         python-oslo.config (>= 1.2.1),
         python-paramiko (>= 1.8.0),
         python-paste,
         python-pastedeploy,
         python-pbr,
         python-pyasn1,
         python-pycurl,
         python-pyparsing (>= 1.5.7),
         python-requests (>= 1.1),
         python-routes,
         python-simplejson,
         python-six,
         python-stevedore (>= 0.10),
         python-sqlalchemy-ext (>= 0.7.8-1~) | python-sqlalchemy (<< 0.6.3-2),
         python-subunit,
         python-suds,
         python-support,
         python-tempita,
         python-testrepository,
         python-webob (>= 1.2.3),
         python-xattr,
         sudo,
         websockify (>= 0.5.1),
         ${misc:Depends},
         ${python:Depends}
Suggests: python-suds (>= 0.4.0)
Conflicts: python-cjson
Recommends: python-mysqldb
Description: OpenStack Compute - libraries
 OpenStack is a reliable cloud infrastructure. Its mission is to produce
 the ubiquitous cloud computing platform that will meet the needs of public
 and private cloud providers regardless of size, by being simple to implement
 and massively scalable.
 .
 OpenStack Compute, codenamed Nova, is a cloud computing fabric controller
 designed to be modular and easy to extend and adapt. In addition to its
 "native" OpenStack API, it also supports the Amazon EC2 API, and it supports
 many different database backends (including SQLite, MySQL, and PostgreSQL),
 hypervisors (KVM, Xen), and user directory systems (LDAP, SQL).
 .
 This package contains the core Python parts of Nova.

Package: nova-common
Architecture: all
Pre-Depends: dpkg (>= 1.15.6~)
Depends: adduser,
         dbconfig-common,
         iproute2 | iproute,
         python-amqplib,
         python-configobj,
         python-iso8601,
         python-nova (= ${binary:Version}),
         sqlite3,
         ${misc:Depends},
         ${python:Depends}
Suggests: python-pysqlite2 | python-mysqldb | python-pygresql
Description: OpenStack Compute - common files
 OpenStack is a reliable cloud infrastructure. Its mission is to produce
 the ubiquitous cloud computing platform that will meet the needs of public
 and private cloud providers regardless of size, by being simple to implement
 and massively scalable.
 .
 OpenStack Compute, codenamed Nova, is a cloud computing fabric controller
 designed to be modular and easy to extend and adapt. In addition to its
 "native" OpenStack API, it also supports the Amazon EC2 API, and it supports
 many different database backends (including SQLite, MySQL, and PostgreSQL),
 hypervisors (KVM, Xen), and user directory systems (LDAP, SQL).
 .
 This package contains elements that are needed by all parts of Nova.

Package: nova-compute
Architecture: all
Pre-Depends: dpkg (>= 1.15.6~)
Depends: adduser,
         curl,
         ebtables,
         gawk,
         iptables,
         kpartx,
         nova-common (= ${binary:Version}),
         nova-compute-kvm | nova-compute-hypervisor,
         open-iscsi,
         parted,
         python-cinderclient,
         qemu-utils,
         vlan,
         ${misc:Depends},
         ${ostack-lsb-base},
         ${python:Depends}
Replaces: python-nova (<< 2012.1~rc1-1)
Breaks: python-nova (<< 2012.1~rc1-1)
Description: OpenStack Compute - compute node
 OpenStack is a reliable cloud infrastructure. Its mission is to produce
 the ubiquitous cloud computing platform that will meet the needs of public
 and private cloud providers regardless of size, by being simple to implement
 and massively scalable.
 .
 OpenStack Compute, codenamed Nova, is a cloud computing fabric controller
 designed to be modular and easy to extend and adapt. In addition to its
 "native" OpenStack API, it also supports the Amazon EC2 API, and it supports
 many different database backends (including SQLite, MySQL, and PostgreSQL),
 hypervisors (KVM, Xen), and user directory systems (LDAP, SQL).
 .
 This package equips a system to function as a compute node, running the
 virtual machines.

Package: nova-compute-lxc
Architecture: all
Pre-Depends: dpkg (>= 1.15.6~)
Depends: adduser,
         dpkg-dev,
         libvirt-bin,
         nova-common,
         nova-compute,
         python-libvirt,
         ${misc:Depends}
Provides: nova-compute-hypervisor
Conflicts: nova-baremetal,
           nova-compute-kvm,
           nova-compute-qemu,
           nova-compute-uml,
           nova-compute-xen
Description: OpenStack Compute - compute node (LXC)
 OpenStack is a reliable cloud infrastructure. Its mission is to produce
 the ubiquitous cloud computing platform that will meet the needs of public
 and private cloud providers regardless of size, by being simple to implement
 and massively scalable.
 .
 OpenStack Compute, codenamed Nova, is a cloud computing fabric controller
 designed to be modular and easy to extend and adapt. In addition to its
 "native" OpenStack API, it also supports the Amazon EC2 API, and it supports
 many different database backends (including SQLite, MySQL, and PostgreSQL),
 hypervisors (KVM, Xen), and user directory systems (LDAP, SQL).
 .
 This is a dependency package for compute nodes using LXC.

Package: nova-compute-uml
Architecture: all
Pre-Depends: dpkg (>= 1.15.6~)
Depends: adduser,
         dpkg-dev,
         libvirt-bin,
         nova-common,
         nova-compute,
         python-libvirt,
         user-mode-linux,
         ${misc:Depends}
Provides: nova-compute-hypervisor
Conflicts: nova-baremetal,
           nova-compute-kvm,
           nova-compute-lxc,
           nova-compute-qemu,
           nova-compute-xen
Description: OpenStack Compute - compute node (UserModeLinux)
 OpenStack is a reliable cloud infrastructure. Its mission is to produce
 the ubiquitous cloud computing platform that will meet the needs of public
 and private cloud providers regardless of size, by being simple to implement
 and massively scalable.
 .
 OpenStack Compute, codenamed Nova, is a cloud computing fabric controller
 designed to be modular and easy to extend and adapt. In addition to its
 "native" OpenStack API, it also supports the Amazon EC2 API, and it supports
 many different database backends (including SQLite, MySQL, and PostgreSQL),
 hypervisors (KVM, Xen), and user directory systems (LDAP, SQL).
 .
 This is a dependency package for compute nodes using UserModeLinux.

#Package: nova-compute-xen
#Architecture: all
#Pre-Depends: dpkg (>= 1.15.6~)
#Depends: adduser, nova-common, nova-compute, python-xenapi, ${misc:Depends}
#Provides: nova-compute-hypervisor
#Conflicts: nova-baremetal,
#           nova-compute-kvm,
#           nova-compute-lxc,
#           nova-compute-qemu,
#           nova-compute-uml
#Description: OpenStack Compute - compute node (Xen)
# OpenStack is a reliable cloud infrastructure. Its mission is to produce
# the ubiquitous cloud computing platform that will meet the needs of public
# and private cloud providers regardless of size, by being simple to implement
# and massively scalable.
# .
# OpenStack Compute, codenamed Nova, is a cloud computing fabric controller
# designed to be modular and easy to extend and adapt. In addition to its
# "native" OpenStack API, it also supports the Amazon EC2 API, and it supports
# many different database backends (including SQLite, MySQL, and PostgreSQL),
# hypervisors (KVM, Xen), and user directory systems (LDAP, SQL).
# .
# This is a dependency package for compute nodes to remote-control a XenServer
# or an XCP (Xen Cloud Platform) cloud using Xen API.

Package: nova-compute-qemu
Architecture: all
Pre-Depends: dpkg (>= 1.15.6~)
Depends: adduser,
         dpkg-dev,
         libvirt-bin,
         nova-common,
         nova-compute,
         python-libvirt,
         qemu,
         ${misc:Depends}
Provides: nova-compute-hypervisor
Conflicts: nova-baremetal,
           nova-compute-kvm,
           nova-compute-lxc,
           nova-compute-uml,
           nova-compute-xen
Description: OpenStack Compute - compute node (QEmu)
 OpenStack is a reliable cloud infrastructure. Its mission is to produce
 the ubiquitous cloud computing platform that will meet the needs of public
 and private cloud providers regardless of size, by being simple to implement
 and massively scalable.
 .
 OpenStack Compute, codenamed Nova, is a cloud computing fabric controller
 designed to be modular and easy to extend and adapt. In addition to its
 "native" OpenStack API, it also supports the Amazon EC2 API, and it supports
 many different database backends (including SQLite, MySQL, and PostgreSQL),
 hypervisors (KVM, Xen), and user directory systems (LDAP, SQL).
 .
 This is a dependency package for compute nodes using QEmu.

Package: nova-compute-kvm
Architecture: all
Pre-Depends: dpkg (>= 1.15.6~)
Depends: adduser,
         dpkg-dev,
         kvm,
         libvirt-bin,
         nova-common,
         nova-compute,
         python-libvirt,
         ${misc:Depends}
Recommends: guestmount
Provides: nova-compute-hypervisor
Conflicts: nova-baremetal,
           nova-compute-lxc,
           nova-compute-qemu,
           nova-compute-uml,
           nova-compute-xen
Description: OpenStack Compute - compute node (KVM)
 OpenStack is a reliable cloud infrastructure. Its mission is to produce
 the ubiquitous cloud computing platform that will meet the needs of public
 and private cloud providers regardless of size, by being simple to implement
 and massively scalable.
 .
 OpenStack Compute, codenamed Nova, is a cloud computing fabric controller
 designed to be modular and easy to extend and adapt. In addition to its
 "native" OpenStack API, it also supports the Amazon EC2 API, and it supports
 many different database backends (including SQLite, MySQL, and PostgreSQL),
 hypervisors (KVM, Xen), and user directory systems (LDAP, SQL).
 .
 This is a dependency package for compute nodes using KVM.

#Package: nova-xcp-plugins
#Architecture: all
#Pre-Depends: dpkg (>= 1.15.6~)
#Depends: xcp-xapi, ${misc:Depends}, ${python:Depends}
#Provides: nova-xcp-network
#Breaks: nova-xcp-network (<< 2013.1.2-1)
#Replaces: nova-xcp-network (<< 2013.1.2-1)
#Description: OpenStack Compute plugin for the Xen Cloud Platform
# OpenStack is a reliable cloud infrastructure. Its mission is to produce
# the ubiquitous cloud computing platform that will meet the needs of public
# and private cloud providers regardless of size, by being simple to implement
# and massively scalable.
# .
# OpenStack Compute, codenamed Nova, is a cloud computing fabric controller
# designed to be modular and easy to extend and adapt. In addition to its
# "native" OpenStack API, it also supports the Amazon EC2 API, and it supports
# many different database backends (including SQLite, MySQL, and PostgreSQL),
# hypervisors (KVM, Xen), and user directory systems (LDAP, SQL).
# .
# This package is to be installed on the server where you have installed your
# master Xen API server (see the xcp-xapi package), so that nova-compute can
# remotely control your XCP nodes and start VM instances.

Package: nova-conductor
Architecture: all
Pre-Depends: dpkg (>= 1.15.6~)
Depends: nova-common (= ${binary:Version}),
         ${misc:Depends},
         ${ostack-lsb-base},
         ${python:Depends}
Description: OpenStack Compute - conductor service
 OpenStack is a reliable cloud infrastructure. Its mission is to produce
 the ubiquitous cloud computing platform that will meet the needs of public
 and private cloud providers regardless of size, by being simple to implement
 and massively scalable.
 .
 OpenStack Compute, codenamed Nova, is a cloud computing fabric controller
 designed to be modular and easy to extend and adapt. In addition to its
 "native" OpenStack API, it also supports the Amazon EC2 API, and it supports
 many different database backends (including SQLite, MySQL, and PostgreSQL),
 hypervisors (KVM, Xen), and user directory systems (LDAP, SQL).
 .
 This is the Nova conductor service component.

Package: nova-cert
Architecture: all
Pre-Depends: dpkg (>= 1.15.6~)
Depends: nova-common (= ${binary:Version}),
         ${misc:Depends},
         ${ostack-lsb-base},
         ${python:Depends}
Description: OpenStack Compute - certificate manager
 OpenStack is a reliable cloud infrastructure. Its mission is to produce
 the ubiquitous cloud computing platform that will meet the needs of public
 and private cloud providers regardless of size, by being simple to implement
 and massively scalable.
 .
 OpenStack Compute, codenamed Nova, is a cloud computing fabric controller
 designed to be modular and easy to extend and adapt. In addition to its
 "native" OpenStack API, it also supports the Amazon EC2 API, and it supports
 many different database backends (including SQLite, MySQL, and PostgreSQL),
 hypervisors (KVM, Xen), and user directory systems (LDAP, SQL).
 .
 This package provides the certificate manager. This enables the generation
 and revocation of X.509 certificates used to access the platform.

Package: nova-scheduler
Architecture: all
Pre-Depends: dpkg (>= 1.15.6~)
Depends: nova-common (= ${binary:Version}),
         ${misc:Depends},
         ${ostack-lsb-base},
         ${python:Depends}
Description: OpenStack Compute - virtual machine scheduler
 OpenStack is a reliable cloud infrastructure. Its mission is to produce
 the ubiquitous cloud computing platform that will meet the needs of public
 and private cloud providers regardless of size, by being simple to implement
 and massively scalable.
 .
 OpenStack Compute, codenamed Nova, is a cloud computing fabric controller
 designed to be modular and easy to extend and adapt. In addition to its
 "native" OpenStack API, it also supports the Amazon EC2 API, and it supports
 many different database backends (including SQLite, MySQL, and PostgreSQL),
 hypervisors (KVM, Xen), and user directory systems (LDAP, SQL).
 .
 This is the Nova scheduler.

Package: nova-volume
Section: oldlibs
Architecture: all
Pre-Depends: dpkg (>= 1.15.6~)
Depends: cinder-api, cinder-scheduler, cinder-volume, ${misc:Depends}
Description: OpenStack Compute - storage metapackage
 OpenStack is a reliable cloud infrastructure. Its mission is to produce
 the ubiquitous cloud computing platform that will meet the needs of public
 and private cloud providers regardless of size, by being simple to implement
 and massively scalable.
 .
 OpenStack Compute, codenamed Nova, is a cloud computing fabric controller
 designed to be modular and easy to extend and adapt. In addition to its
 "native" OpenStack API, it also supports the Amazon EC2 API, and it supports
 many different database backends (including SQLite, MySQL, and PostgreSQL),
 hypervisors (KVM, Xen), and user directory systems (LDAP, SQL).
 .
 This metapackage is for the transition from nova-volume to Cinder.

Package: nova-api
Architecture: all
Pre-Depends: dpkg (>= 1.15.6~)
Depends: debconf,
         nova-common (= ${binary:Version}),
         python-keystoneclient,
         ${misc:Depends},
         ${ostack-lsb-base},
         ${python:Depends}
Recommends: python-keystone
Description: OpenStack Compute - compute API frontend
 OpenStack is a reliable cloud infrastructure. Its mission is to produce
 the ubiquitous cloud computing platform that will meet the needs of public
 and private cloud providers regardless of size, by being simple to implement
 and massively scalable.
 .
 OpenStack Compute, codenamed Nova, is a cloud computing fabric controller
 designed to be modular and easy to extend and adapt. In addition to its
 "native" OpenStack API, it also supports the Amazon EC2 API, and it supports
 many different database backends (including SQLite, MySQL, and PostgreSQL),
 hypervisors (KVM, Xen), and user directory systems (LDAP, SQL).
 .
 This package provides the API frontend.

Package: nova-network
Architecture: all
Pre-Depends: dpkg (>= 1.15.6~)
Depends: bridge-utils,
         dnsmasq-base,
         dnsmasq-utils,
         iptables,
         iputils-arping,
         netcat,
         nova-common (= ${binary:Version}),
         vlan,
         ${misc:Depends},
         ${ostack-lsb-base},
         ${python:Depends}
Replaces: python-nova (<< 2012.1~rc1-1)
Breaks: python-nova (<< 2012.1~rc1-1)
Suggests: radvd
Description: OpenStack Compute - network manager
 OpenStack is a reliable cloud infrastructure. Its mission is to produce
 the ubiquitous cloud computing platform that will meet the needs of public
 and private cloud providers regardless of size, by being simple to implement
 and massively scalable.
 .
 OpenStack Compute, codenamed Nova, is a cloud computing fabric controller
 designed to be modular and easy to extend and adapt. In addition to its
 "native" OpenStack API, it also supports the Amazon EC2 API, and it supports
 many different database backends (including SQLite, MySQL, and PostgreSQL),
 hypervisors (KVM, Xen), and user directory systems (LDAP, SQL).
 .
 This package equips a system to function as a network node. This service is
 responsible for managing floating and fixed IP addresses, DHCP, bridging, and
 VLANs, and in some cases acts as a gateway. Different networking strategies
 can be accessed by setting the network_manager flag to FlatManager,
 FlatDHCPManager, or VlanManager (the default).

Package: nova-console
Provides: nova-consoleauth
Architecture: all
Pre-Depends: dpkg (>= 1.15.6~)
Depends: nova-common (= ${binary:Version}),
         ${misc:Depends},
         ${ostack-lsb-base},
         ${python:Depends}
Recommends: nova-consoleauth
Description: OpenStack Compute - console
 OpenStack is a reliable cloud infrastructure. Its mission is to produce
 the ubiquitous cloud computing platform that will meet the needs of public
 and private cloud providers regardless of size, by being simple to implement
 and massively scalable.
 .
 OpenStack Compute, codenamed Nova, is a cloud computing fabric controller
 designed to be modular and easy to extend and adapt. In addition to its
 "native" OpenStack API, it also supports the Amazon EC2 API, and it supports
 many different database backends (including SQLite, MySQL, and PostgreSQL),
 hypervisors (KVM, Xen), and user directory systems (LDAP, SQL).
 .
 This package provides the console server. This enables the use of consoles
 with XVP and XenServer. It is a publicly reachable component which proxies
 access to VNCs running on compute nodes.

Package: nova-consoleauth
Architecture: all
Pre-Depends: dpkg (>= 1.15.6~)
Depends: nova-common (= ${binary:Version}),
         ${misc:Depends},
         ${ostack-lsb-base},
         ${python:Depends}
Breaks: nova-console (<< 2013.1)
Replaces: nova-console (<< 2013.1)
Description: OpenStack Compute - Console Authenticator
 OpenStack is a reliable cloud infrastructure. Its mission is to produce
 the ubiquitous cloud computing platform that will meet the needs of public
 and private cloud providers regardless of size, by being simple to implement
 and massively scalable.
 .
 OpenStack Compute, codenamed Nova, is a cloud computing fabric controller
 designed to be modular and easy to extend and adapt. In addition to its
 "native" OpenStack API, it also supports the Amazon EC2 API, and it supports
 many different database backends (including SQLite, MySQL, and PostgreSQL),
 hypervisors (KVM, Xen), and user directory systems (LDAP, SQL).
 .
 This package provides the authentication service for nova-console.  It grants
 user requests for console access based on tokens in the identity service and
 allows access to virtual consoles via a browser.

Package: nova-doc
Architecture: all
Section: doc
Pre-Depends: dpkg (>= 1.15.6~)
Depends: libjs-jquery, libjs-underscore, ${misc:Depends}
Description: OpenStack Compute - documentation
 OpenStack is a reliable cloud infrastructure. Its mission is to produce
 the ubiquitous cloud computing platform that will meet the needs of public
 and private cloud providers regardless of size, by being simple to implement
 and massively scalable.
 .
 OpenStack Compute, codenamed Nova, is a cloud computing fabric controller
 designed to be modular and easy to extend and adapt. In addition to its
 "native" OpenStack API, it also supports the Amazon EC2 API, and it supports
 many different database backends (including SQLite, MySQL, and PostgreSQL),
 hypervisors (KVM, Xen), and user directory systems (LDAP, SQL).
 .
 This package contains the documentation for Nova.

Package: nova-cells
Architecture: all
Pre-Depends: dpkg (>= 1.15.6~)
Depends: nova-common (= ${binary:Version}),
         ${misc:Depends},
         ${ostack-lsb-base},
         ${python:Depends}
Description: Openstack Compute - cells
 OpenStack is a reliable cloud infrastructure. Its mission is to produce
 the ubiquitous cloud computing platform that will meet the needs of public
 and private cloud providers regardless of size, by being simple to implement
 and massively scalable.
 .
 OpenStack Compute, codenamed Nova, is a cloud computing fabric controller
 designed to be modular and easy to extend and adapt. In addition to its
 "native" OpenStack API, it also supports the Amazon EC2 API, and it supports
 many different database backends (including SQLite, MySQL, and PostgreSQL),
 hypervisors (KVM, Xen), and user directory systems (LDAP, SQL).
 .
 This is the Nova cells component.

Package: nova-baremetal
Architecture: all
Pre-Depends: dpkg (>= 1.15.6~)
Depends: dnsmasq,
         ipmitool,
         nova-common (= ${binary:Version}),
         open-iscsi,
         syslinux,
         ${misc:Depends},
         ${ostack-lsb-base},
         ${python:Depends}
Provides: nova-compute-hypervisor
Conflicts: nova-compute-kvm,
           nova-compute-lxc,
           nova-compute-qemu,
           nova-compute-uml,
           nova-compute-xen
Description: Openstack Compute - baremetal virt
 OpenStack is a reliable cloud infrastructure. Its mission is to produce
 the ubiquitous cloud computing platform that will meet the needs of public
 and private cloud providers regardless of size, by being simple to implement
 and massively scalable.
 .
 OpenStack Compute, codenamed Nova, is a cloud computing fabric controller
 designed to be modular and easy to extend and adapt. In addition to its
 "native" OpenStack API, it also supports the Amazon EC2 API, and it supports
 many different database backends (including SQLite, MySQL, and PostgreSQL),
 hypervisors (KVM, Xen), and user directory systems (LDAP, SQL).
 .
 This is the baremetal virt component.

Package: nova-consoleproxy
Architecture: all
Pre-Depends: dpkg (>= 1.15.6~)
Conflicts: nova-novncproxy, nova-spicehtml5proxy, nova-xvpvncproxy
Replaces: nova-novncproxy, nova-spicehtml5proxy, nova-xvpvncproxy
Depends: debconf,
         nova-common (= ${binary:Version}),
         novnc,
         spice-html5,
         websockify,
         ${misc:Depends},
         ${ostack-lsb-base},
         ${python:Depends}
Description: OpenStack Compute - NoVNC proxy
 OpenStack is a reliable cloud infrastructure. Its mission is to produce
 the ubiquitous cloud computing platform that will meet the needs of public
 and private cloud providers regardless of size, by being simple to
 implement
 and massively scalable.
 .
 OpenStack Compute, codenamed Nova, is a cloud computing fabric controller
 designed to be modular and easy to extend and adapt. In addition to its
 "native" OpenStack API, it also supports the Amazon EC2 API, and it
 supports
 many different database backends (including SQLite, MySQL, and PostgreSQL),
 hypervisors (KVM, Xen), and user directory systems (LDAP, SQL).
 .
 This package provides the proxy for the console in Nova: either the VNC proxy,
 the SPICE HTML5 proxy, or the XVP (Xen VNC Proxy) proxy. It is a publically
 reachable component which proxies access to the console running on compute
 nodes.
