[Unit]
Description=OpenStack Compute novncproxy
Documentation=http://docs.openstack.org/
After=nova-consoleauth.service network.service

[Service]
User=nova
Group=nova
ExecStart=/etc/init.d/nova-novncproxy systemd-start
ExecStop=/etc/init.d/nova-novncproxy systemd-stop
PIDFile=/var/run/nova/nova-novncproxy.pid
Restart=on-failure
Type=forking

[Install]
WantedBy=multi-user.target

