[Unit]
Description=OpenStack Compute Network
Documentation=http://docs.openstack.org/
After=postgresql.service mysql.service keystone.service network.service

[Service]
User=nova
Group=nova
ExecStart=/etc/init.d/nova-network systemd-start
ExecStop=/etc/init.d/nova-network systemd-stop
PIDFile=/var/run/nova/nova-network.pid
Restart=on-failure
Type=forking

[Install]
WantedBy=multi-user.target

