#!/bin/sh
set -e

. /usr/share/debconf/confmodule

if [ -f /usr/share/dbconfig-common/dpkg/config ]
then
    dbc_dbtypes="sqlite3, mysql, pgsql"
    dbc_authmethod_user="password"
    dbc_basepath="/var/lib/nova"
    dbc_dbname="nova"
    . /usr/share/dbconfig-common/dpkg/config
    dbc_go nova-common $@
fi
