[Unit]
Description=OpenStack Compute Cells
Documentation=http://docs.openstack.org/
After=postgresql.service mysql.service keystone.service network.service 

[Service]
User=nova
Group=nova
ExecStart=/etc/init.d/nova-cells systemd-start
ExecStop=/etc/init.d/nova-cells systemd-stop
PIDFile=/var/run/nova/nova-cells.pid
Restart=on-failure
Type=forking

[Install]
WantedBy=multi-user.target

