#!/bin/sh
set -e

. /usr/share/debconf/confmodule

db_input low nova-common/start_services || true
db_go

db_input high nova-common/configure_db || true
db_go

db_get nova-common/configure_db
if [ "$RET" = "true" ]; then
    if [ -f /usr/share/dbconfig-common/dpkg/config ]
    then
        dbc_dbtypes="sqlite3, mysql, pgsql"
        dbc_authmethod_user="password"
        dbc_basepath="/var/lib/nova"
        dbc_dbname="nova"
        . /usr/share/dbconfig-common/dpkg/config
        dbc_go nova-common $@
    fi
fi
