[Unit]
Description=OpenStack Compute
Documentation=http://docs.openstack.org/
After=libvirt-bin.service postgresql.service mysql.service keystone.service rabbitmq-server.service ntp.service network.service

[Service]
User=nova
Group=nova
ExecStart=/etc/init.d/nova-compute systemd-start
ExecStop=/etc/init.d/nova-compute systemd-stop
PIDFile=/var/run/nova/nova-compute.pid
Restart=on-failure
Type=forking

[Install]
WantedBy=multi-user.target

