#!/bin/sh

set -e

. /usr/share/debconf/confmodule

if [ -r /etc/default/nova-consoleproxy ] ; then
	. /etc/default/nova-consoleproxy
fi

if [ "${NOVA_CONSOLE_PROXY_TYPE}" = "novnc" ] ; then
	db_set nova-consoleproxy/daemon_type novnc
elif [ "${NOVA_CONSOLE_PROXY_TYPE}" = "xenvnc" ] ; then
	db_set nova-consoleproxy/daemon_type xenvnc
else
	db_set nova-consoleproxy/daemon_type spicehtml5
fi
db_input medium nova-consoleproxy/daemon_type || true
db_go

exit 0
